* {
  box-sizing: border-box;
}

div.container {
  display: flex;
  background-color: #ff4755;
  justify-content: space-around;
}

div.box-code {
  flex-grow: 1;
  width: 500px;
  height: 500px;
  margin: 30px;
  padding: 10px;
  justify-content: center;
  background-color: #ffffff9a;
  border-radius: 25px;
  border: 10px solid #22a7ff;
  position: relative;
}

div.box-code button {
  margin: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 7px 15px;
}

div.box-result {
  flex-grow: 1;
  width: 500px;
  height: 500px;
  margin: 30px;
  padding: 10px;
  background-color: #ffffff9a;
  border-radius: 25px;
  border: 10px solid #22a7ff;
  position: relative;
}

div.moon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.text {
  color: #000;
  font-family: "Space Mono", monospace;
  margin: 10px;
}

.withInput {
  display: flex;
  margin-left: 30px;
}

.withInput input {
  flex-grow: 1;
  padding: 5px 10px;
  font-family: "Space Mono", monospace;
}

.ident {
  margin-left: 30px;
}

button {
  background: #ff4755;
  color: inherit;
  border-radius: 4px;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #fff;
  font-family: "Space Mono", monospace;
}

button:hover {
  background: #f5ff33;
}
