* {
  box-sizing: border-box;
}

div.container {
  display: flex;
  background-color: #ff4755;
}

div.box-code {
  width: 500px;
  height: 500px;
  margin: 30px;
  padding: 10px;
  justify-content: center;
  background-color: #ffffff9a;
  border-radius: 25px;
  border: 10px solid #22a7ff;
}

div.box-result {
  width: 500px;
  height: 500px;
  margin: 30px;
  padding: 10px;
  background-color: #ffffff9a;
  border-radius: 25px;
  border: 10px solid #22a7ff;
  position: relative;
}

/* div.rocket {
  position: absolute;
  width: 100%;
  padding-right: 21px;
  padding-top: 14px;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
} */

div.moon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}
